__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Entornos virtuales (por si acaso)
venv/
env/
ENV/

# Archivos de la base de datos y configuracion local
db_connection.conf
Sigme_beta
*.sqlite3
.env
